<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button
        (click)="addItem()"
        expand="block"
        shape="round"
        fill="outline"
        color="medium"
        class="notexttransformation"
      >
        {{ page === "Länder" ? 'Land' : 'Projekt' }} hinzufügen
      </ion-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionChange)="searchItems(searchTerm)"
      debounce="400"
      animated="true"
      #searchbar
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Countries List -->
  <ion-list *ngIf="page === 'Länder'">
    <ion-item *ngFor="let country of aCountries | async">
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
      <ion-label>{{country?.name}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- Projects List -->
  <ion-list *ngIf="page === ''"> </ion-list>
</ion-content>
